{% extends 'base.html' %}

{% block head %}
<title>Wat is Elderspeak?</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>Wat zijn de kermerken van <i>elderspeak</i>?</h1>
    </div>
    <div class="col-12 col-md-6">
        <ul class="list-group">
          <li class="list-group-item">Langzaam spreken</li>
          <li class="list-group-item">Verhoogde toonhoogte</li>
          <li class="list-group-item">Verhoogd stemvolume</li>
          <li class="list-group-item">Overdreven intonatie</li>
          <li class="list-group-item">Vereenvoudigd woordgebruik, gebruik van verkleinwoorden en/of ongepaste bijnamen of troetelnamen</li>
          <li class="list-group-item">Verminderde grammaticale complexiteit (bv. voornamelijk enkelvoudige zinnen)</li>
        </ul>
    </div>
    <div class="col-12 col-md-6">
        <ul class="list-group">
          <li class="list-group-item">Gebruik van collectieve voornaamwoorden (bijvoorbeeld "we" in plaats van "jij")</li>
          <li class="list-group-item">Veelvuldig gebruik van (bevestigende) tussenwerpsels (zoals "hé" of "voilà")</li>
          <li class="list-group-item">Gewijzigd non-verbaal gedrag (bv. langdurig oogcontact, extra gebaren, te dichtbij komen)</li>
          <li class="list-group-item">Veelvuldige verduidelijking en herhaling</li>
        </ul>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <h1>Wat zijn de tips om <i>elderspeak</i> te voorkomen?</h1>
    </div>
    <div class="col-12 col-md-6">
        <ul class="list-group">
          <li class="list-group-item">Spreek personen aan met de naam waarmee ze willen aangesproken worden. Gebruik geen collectieve voornaamwoorden als die niet van toepassing zijn.</li>
          <li class="list-group-item">Als een persoon een zorgverlener toelaat om hem of haar met zijn voornaam aan te spreken, ga er dan niet van uit dat deze toestemming voor alle zorgverleners geldt. De mate van intimiteit varieert, waardoor elke zorgverlener moet nagaan hoe hij of zij zijn gesprekspartner mag aanspreken.</li>
          <li class="list-group-item">Vermijd het gebruik van troetelnamen en overmatige intieme liefkozingen, tenzij de gesprekspartner uitdrukkelijk aangeeft dat hij of zij zo wil aangesproken worden.</li>
          <li class="list-group-item">Wees je bewust van je non-verbaal gedrag.</li>
          <li class="list-group-item">Verhoog je stemvolume (in beperkte mate) enkel en alleen wanneer de gesprekspartner hardhorig is. Verhoging van je stemvolume betekent geen verhoging van je stemhoogte. Wees je ervan bewust dat niet elke oudere gesprekspartner hardhorig is.</li>
        </ul>
    </div>
    <div class="col-12 col-md-6">
        <ul class="list-group">
          <li class="list-group-item">Herhaling en verminderde grammaticale complexiteit hebben een plaats als de gesprekspartner je niet begrepen heeft.</li>
          <li class="list-group-item">Vermijd korte zinnen en langzaam en met overdreven intonatie uitgesproken zinnen.</li>
          <li class="list-group-item">Vermijd het gebruik van verkleinwoorden, aangezien die het gevoel van afhankelijkheid kunnen versterken en denigrerend kunnen geïnterpreteerd worden.</li>
          <li class="list-group-item">Vermijd overdreven directieve boodschappen en bied keuzevrijheid.</li>
          <li class="list-group-item">Hanteer een beleefd taalgebruik en beleefde omgangsvormen (bv. op de kamerdeur kloppen alvorens de kamer binnen te gaan).</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <span class="text-muted">Campens, J. (2021). Cursus Elderspeak.</span>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}