{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>Home</h1>
        <p>Dit is een <i>proof-of-concept</i> voor het detecteren van <i>elderspeak</i>.</p>
        <p>Deze applicatie is niet 100% correct, maar is eerder bedoeld om meer aandacht te vestigen op het probleem rond <i>elderspeak</i>. Door er actief te gaan over denken zal men hopelijk de kenmerken sneller herkennen en hopelijk ook zelf sneller inzien wanneer er <i>elderspeak</i> gebruikt wordt.</p>
    </div>
    <div class="col-12 row">
        <div class="col-4 d-flex justify-content-center align-items-center"><a class="btn btn-primary" href="/detector">Actief leren</a></div>
        <div class="col-4 d-flex justify-content-center align-items-center"><a class="btn btn-primary" href="/elderspeak">Passief leren</a></div>
        <div class="col-4 d-flex justify-content-center align-items-center"><a class="btn btn-secondary" href="/privacy">Privacy</a></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}