{% extends 'base.html' %}

{% block head %}
<title>Elderspeak detector</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>Elderspeak detector</h1>
        <img src="{{ url_for('static', filename='img/rusthuis.jpg') }}" alt="rusthuis foto" class="img-fluid img-medium">
        <p>Spreek in hoe je tegen deze bejaarde dame zou praten:</p>
        <button type="button" id="btn-record" class="btn btn-secondary">Record</button>
        <div class="d-flex flex-column">
            <p id="saved" class="text-primary hidden">The audio was saved!</p>
            <br>
            <audio id=recordedAudio></audio>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    navigator.mediaDevices.getUserMedia({audio:true})
        .then(stream => {handlerFunction(stream)})

    function handlerFunction(stream) {
        rec = new MediaRecorder(stream);
        rec.ondataavailable = e => {
            audioChunks.push(e.data);
            if (rec.state === "inactive"){
                let blob = new Blob(audioChunks,{type:'audio/mp3'});
                let audioUrl = URL.createObjectURL(blob);
                let recordedAudio = document.getElementById('recordedAudio')
                recordedAudio.src = audioUrl;
                recordedAudio.controls=true;
                recordedAudio.autoplay=true;
                sendData(blob)
            }
        }
    }

    //https://stackoverflow.com/questions/70733510/send-blob-to-python-flask-and-then-save-it

    function sendData(blob) {
      let data_to_send = new FormData();
      data_to_send.append('audio_data', blob);
      fetch('http://127.0.0.1:5000/receive', {
          method: 'POST',
          body: data_to_send
      }).then(response => response.json()
      ).then(json => {
          console.log(json)
      });
    }

    const btn_record = document.getElementById('btn-record');
    btn_record.addEventListener('click', () => {
        if (btn_record.innerText.toLowerCase().includes("record")){
            btn_record.classList.remove("btn-primary");
            btn_record.classList.add("btn-warning");
            btn_record.innerText = "Stop"
            audioChunks = [];
            rec.start();
        } else if (btn_record.innerText.toLowerCase().includes("stop")){
            rec.stop();
            btn_record.classList.remove("btn-warning");
            btn_record.classList.add("btn-secondary");
            btn_record.innerText = "New recording"
            document.getElementById('saved').classList.remove('hidden')
        }

    });
</script>
{% endblock %}